#app{
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4d4d4d;
    min-width: 550px;
    margin: 0 auto;
}

a.active{
    color: orange;
}

.right-align{
    text-align: right;
}

.pointer{
    cursor: pointer;
}

.header-nav{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.login-container{
    text-align: center;
}

.login{
    margin-top: 15%; 
    display: inline-block;
}

.login h1{
    margin-bottom: 40px;
}

.login p{
    margin-bottom: 40px;
}